name: Check-backport
on:
  pull_request_target:
    types: ["closed", "labeled"]

permissions:
  contents: write
  pull-requests: write

jobs:
  backport:
    if: ${{ github.event.pull_request.merged }}
    uses: adela-domokosova/.github/.github/workflows/backport-prepare.yml@fix-actions-trigger
    with:
      event: ${{ github.event.action }}
      label: ${{ github.event.action == 'labeled' && github.event.label.name || '' }}
      pull_request: ${{ toJSON(github.event.pull_request) }}
    secrets:
      personal_access_token: ${{ secrets.PAT }}
      