name: Check-backport
on:
  pull_request_target:
    types: ["closed", "labeled"]

permissions:
  contents: write
  pull-requests: write

jobs:
  generate_token:
    runs-on: ubuntu-latest
    outputs:
      app_token: ${{ steps.generate-token.outputs.token }}
    steps:
      - name: Generate GitHub App token
        id: generate-token
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42
        with:
          app-id: ${{ vars.APP_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }} 
      - name: Debug token output
        run: |
          echo "Token length: $(echo '${{ steps.generate-token.outputs.token }}' | wc -c)"
  backport:
    needs: generate_token
    if: ${{ github.event.pull_request.merged }}
    uses: adela-domokosova/.github/.github/workflows/backport-prepare.yml@fix-actions-test
    with:
      event: ${{ github.event.action }}
      label: ${{ github.event.action == 'labeled' && github.event.label.name || '' }}
      pull_request: ${{ toJSON(github.event.pull_request) }}
    secrets:
      installation_token: ${{ needs.generate-token.outputs.app_token }}